@{
    ViewBag.Title = "About";
}


<!--about-->
<div class="welcome about">
    <div class="container">
        <div class="col-md-6 about-right wow fadeInRight animated" data-wow-delay=".5s">
            <h4 class="title">About Us </h4>
            <h3 class="title1">THE BEST <br>COFFEE IS <span>ESPR</span>ESSO </h3>
        </div>
        <div class="col-md-6 about-left wow fadeInLeft animated" data-wow-delay=".5s">
            <h5>Suscipit mollis enim Nulla finibus nulla tellus, non dapibus.  </h5>
            <p class="data">
                Porttitor vestibulum eu nisl. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum luctus dui at velit rhoncus, eu tempus mi feugiat. Lorem ipsum dolor sit amet  Integer consectetur metus nec eros elementum, sit amet sagittis lectus feugiat. Phasellus vestibulum, lorem vitae faucibus dapibus, lacus mi hendrerit neque, sit amet pellentesque orci risus eu mi. Maecenas arcu diam, condimentum id vestibulum quis
                pellentesque quis arcu.
            </p>
        </div>
        <span class="bg-text bg-right">A</span>
        <div class="clearfix"> </div>
    </div>
</div>
<!--//about-->
<!--menu-->
<div class="about-menu">
    <div class="container">
        <h3 class="title1 wow fadeInDown animated" data-wow-delay=".5s">Choose from our variety of flavors.</h3>
        <p class="data wow fadeInLeft animated" data-wow-delay=".5s">Porttitor vestibulum eu nisl. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum luctus dui at velit rhoncus, eu tempus mi feugiat. Lorem ipsum dolor sit amet  Integer consectetur metus nec eros elementum, sit amet sagittis lectus feugiat. Phasellus vestibulum, lorem vitae faucibus dapibus.</p>
        <div class="menu-row wow zoomIn animated" data-wow-delay=".5s">
            <div class="col-md-6 menu-left">
                <img src="~/images/img6.jpg" alt="" />
            </div>
            <div class="col-md-6 menu-right scrollbar scrollbar1">
                <div class="menu-info">
                    <div class="menu-list-left">
                        <h4> 01 <span>/</span> Filter coffee</h4>
                        <p>Porttitor vestibulum eu nisl</p>
                    </div>
                    <div class="menu-list-right">
                        <h5> $10.15</h5>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="menu-info">
                    <div class="menu-list-left">
                        <h4> 02 <span>/</span> Black Coffee</h4>
                        <p>Porttitor vestibulum eu nisl</p>
                    </div>
                    <div class="menu-list-right">
                        <h5> $12.05</h5>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="menu-info">
                    <div class="menu-list-left">
                        <h4> 03 <span>/</span>Strong Coffee </h4>
                        <p>Porttitor vestibulum eu nisl</p>
                    </div>
                    <div class="menu-list-right">
                        <h5> $5.00</h5>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="menu-info">
                    <div class="menu-list-left">
                        <h4> 04 <span>/</span> Caramel Drizzle</h4>
                        <p>Porttitor vestibulum eu nisl</p>
                    </div>
                    <div class="menu-list-right">
                        <h5> $12.99</h5>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="menu-info">
                    <div class="menu-list-left">
                        <h4> 05 <span>/</span> Brandy Coffee</h4>
                        <p>Porttitor vestibulum eu nisl</p>
                    </div>
                    <div class="menu-list-right">
                        <h5> $20.50</h5>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="menu-info">
                    <div class="menu-list-left">
                        <h4> 06 <span>/</span> Priest Coffee </h4>
                        <p>Porttitor vestibulum eu nisl</p>
                    </div>
                    <div class="menu-list-right">
                        <h5> $25.00</h5>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="menu-row wow zoomIn animated" data-wow-delay=".5s">
            <div class="col-md-6 menu-left">
                <img src="~/images/img7.jpg" alt="" />
            </div>
            <div class="col-md-6 menu-right scrollbar scrollbar1">
                <div class="menu-info">
                    <div class="menu-list-left">
                        <h4> 01 <span>/</span> Cappuccino</h4>
                        <p>Porttitor vestibulum eu nisl</p>
                    </div>
                    <div class="menu-list-right">
                        <h5> $10.15</h5>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="menu-info">
                    <div class="menu-list-left">
                        <h4> 02 <span>/</span> Ristretto</h4>
                        <p>Porttitor vestibulum eu nisl</p>
                    </div>
                    <div class="menu-list-right">
                        <h5> $12.05</h5>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="menu-info">
                    <div class="menu-list-left">
                        <h4> 03 <span>/</span>Antoccino </h4>
                        <p>Porttitor vestibulum eu nisl</p>
                    </div>
                    <div class="menu-list-right">
                        <h5> $5.00</h5>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="menu-info">
                    <div class="menu-list-left">
                        <h4> 04 <span>/</span> Flat white</h4>
                        <p>Porttitor vestibulum eu nisl</p>
                    </div>
                    <div class="menu-list-right">
                        <h5> $12.99</h5>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="menu-info">
                    <div class="menu-list-left">
                        <h4> 05 <span>/</span> Macchiato</h4>
                        <p>Porttitor vestibulum eu nisl</p>
                    </div>
                    <div class="menu-list-right">
                        <h5> $20.50</h5>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="menu-info">
                    <div class="menu-list-left">
                        <h4> 06 <span>/</span> Priest Coffee </h4>
                        <p>Porttitor vestibulum eu nisl</p>
                    </div>
                    <div class="menu-list-right">
                        <h5> $25.00</h5>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <span class="bg-text">C</span>
    </div>
</div>
