@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h1>
        Thanks For the Message .<br />
        We Will consider your Request in Short Notice
    </h1>
    <a href='@Url.Action("Index","Home")'>Back to Main Site </a>
</div>