
@{
    ViewBag.Title = "Gallery";
}



<!-- gallery -->
<div class="gallery">
    <div class="container">
        <h4 class="title">Gallery</h4>
        <h3 class="title1">OUR COFFEE <span>FLAV</span>ORS ARE</h3>
        <div class="gallery-row">
            <div class="col-md-4 gallery-grids grid">
                <figure class="effect-ming wow zoomIn animated" data-wow-delay=".5s">
                    <a href="~/images/img2.jpg" class="swipebox">
                        <img src="~/images/img2.jpg" alt="" class="img-responsive" />
                        <figcaption><h5>Our<span>Gallery</span></h5></figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-4 gallery-grids grid">
                <figure class="effect-ming wow zoomIn animated" data-wow-delay=".5s">
                    <a href="~/images/img3.jpg" class="swipebox">
                        <img src="~/images/img3.jpg" alt="" class="img-responsive" />
                        <figcaption><h5>Our<span>Gallery</span></h5></figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-4 gallery-grids grid">
                <figure class="effect-ming wow zoomIn animated" data-wow-delay=".5s">
                    <a href="~/images/img4.jpg" class="swipebox">
                        <img src="~/images/img4.jpg" alt="" class="img-responsive" />
                        <figcaption><h5>Our<span>Gallery</span></h5></figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-6 gallery-grids gallery-btm grid">
                <figure class="effect-ming wow zoomIn animated" data-wow-delay=".5s">
                    <a href="~/images/img9.jpg" class="swipebox">
                        <img src="~/images/img9.jpg" alt="" class="img-responsive" />
                        <figcaption><h5>Our<span>Gallery</span></h5></figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-6 gallery-grids gallery-btm grid">
                <figure class="effect-ming wow zoomIn animated" data-wow-delay=".5s">
                    <a href="~/images/img8.jpg" class="swipebox">
                        <img src="~/images/img8.jpg" alt="" class="img-responsive" />
                        <figcaption><h5>Our<span>Gallery</span></h5></figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-4 gallery-grids grid">
                <figure class="effect-ming wow zoomIn animated" data-wow-delay=".5s">
                    <a href="~/images/img4.jpg" class="swipebox">
                        <img src="~/images/img4.jpg" alt="" class="img-responsive" />
                        <figcaption><h5>Our<span>Gallery</span></h5></figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-4 gallery-grids grid">
                <figure class="effect-ming wow zoomIn animated" data-wow-delay=".5s">
                    <a href="~/images/img5.jpg" class="swipebox">
                        <img src="~/images/img5.jpg" alt="" class="img-responsive" />
                        <figcaption><h5>Our<span>Gallery</span></h5></figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-4 gallery-grids grid">
                <figure class="effect-ming wow zoomIn animated" data-wow-delay=".5s">
                    <a href="~/images/img7.jpg" class="swipebox">
                        <img src="~/images/img7.jpg" alt="" class="img-responsive" />
                        <figcaption><h5>Our<span>Gallery</span></h5></figcaption>
                    </a>
                </figure>
            </div>
            <div class="clearfix"> </div>
            <!-- swipe box js -->
            <script src="~/js/jquery.swipebox.min.js"></script>
            <script type="text/javascript">
						jQuery(function($) {
							$(".swipebox").swipebox();
						});
            </script>
            <!-- //swipe box js -->
        </div>
        <span class="bg-text">G</span>
    </div>
</div>
<!-- //gallery -->
