
@{
    ViewBag.Title = "History";
}


<!--history-->
<div class="history">
    <div class="container">
        <h4 class="title wow fadeInDown animated" data-wow-delay=".5s">History</h4>
        <h3 class="title1 wow fadeInDown animated" data-wow-delay=".5s">WHAT OUR COMPANY <span>POSI</span>TION</h3>
        <div class="col-md-6 history-grids wow fadeInDown animated" data-wow-delay=".5s">
            <h5>2005 </h5>
            <p>Suspendisse malesuada enim et mollis dapibus risus mauris semper lorem, non efficitur neque nunc sit amet dolor. Donec quis gravida lacus.  Suspendisse lacinia luctus leo, id scelerisque urna iaculis sed. Nam sapien erat, fringilla vitae nisi id, accumsan fermentum sit amet purus.</p>
        </div>
        <div class="col-md-6 history-grids wow fadeInDown animated" data-wow-delay=".5s">
            <h5>2007 </h5>
            <p>Malesuada enim et mollis dapibus suspendisse risus mauris semper lorem, non efficitur neque nunc sit amet dolor. Donec quis gravida lacus.  Suspendisse lacinia luctus leo, id scelerisque urna iaculis sed. Nam sapien erat, fringilla vitae nisi id, accumsan fermentum sit amet purus.</p>
        </div>
        <div class="col-md-6 history-grids wow fadeInDown animated" data-wow-delay=".5s">
            <h5>2009 </h5>
            <p>Dapibus risus suspendisse malesuada enim et mollis mauris semper lorem, non efficitur neque nunc sit amet dolor. Donec quis gravida lacus.  Suspendisse lacinia luctus leo, id scelerisque urna iaculis sed. Nam sapien erat, fringilla vitae nisi id, accumsan fermentum sit amet purus.</p>
        </div>
        <div class="col-md-6 history-grids wow fadeInDown animated" data-wow-delay=".5s">
            <h5>2011 </h5>
            <p>Pendisseus malesuada enim et mollis dapibus risus mauris semper lorem, non efficitur neque nunc sit amet dolor. Donec quis gravida lacus.  Suspendisse lacinia luctus leo, id scelerisque urna iaculis sed. Nam sapien erat, fringilla vitae nisi id, accumsan fermentum sit amet purus.</p>
        </div>
        <div class="col-md-6 history-grids wow fadeInDown animated" data-wow-delay=".5s">
            <h5>2013 </h5>
            <p>Enim et mollis dapibus suspendisse malesuada risus mauris semper lorem, non efficitur neque nunc sit amet dolor. Donec quis gravida lacus.  Suspendisse lacinia luctus leo, id scelerisque urna iaculis sed. Nam sapien erat, fringilla vitae nisi id, accumsan fermentum sit amet purus.</p>
        </div>
        <div class="col-md-6 history-grids wow fadeInDown animated" data-wow-delay=".5s">
            <h5>2019 </h5>
            <p>Donec quis gravida lacus. Suspendisse lacinia luctus leo, id scelerisque urna iaculis sed. Nam sapien erat, fringilla vitae nisi id, accumsan fermentum sit amet purus.Suspendisse malesuada enim et mollis dapibus risus mauris semper lorem, non efficitur neque nunc sit amet dolor. </p>
        </div>
        <span class="bg-text">H</span>
        <div class="clearfix"> </div>
    </div>
</div>
<!--//history-->
