@{
    ViewBag.Title = "Home Page";
}

<!--welcome-->
<div class="welcome">
    <div class="container">
        <div class="col-md-7 welcome-left">
            <h4 class="title wow fadeInLeft animated" data-wow-delay=".5s">Welcome! </h4>
            <h3 class="title1 wow fadeInLeft animated" data-wow-delay=".5s">THE BEST CHOICE <br>FOR COFFEE IS <span>ESPR</span>ESSO </h3>
        </div>
        <div class="col-md-5 welcome-right wow fadeInRightBig animated" data-wow-delay=".5s">
            <h5>There are many variations of coffees are available auctor ut aliquam et, suscipit mollis enim. Nulla finibus nulla tellus, non dapibus sapien varius nec.  </h5>
            <p class="data">
                Porttitor vestibulum eu nisl. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum luctus dui at velit rhoncus, eu tempus mi feugiat. Lorem ipsum dolor sit amet  Integer consectetur metus nec eros elementum, sit amet sagittis lectus feugiat. Phasellus vestibulum, lorem vitae faucibus dapibus, lacus mi hendrerit neque, sit amet pellentesque orci risus eu mi. Maecenas arcu diam, condimentum id vestibulum quis
                pellentesque quis arcu. Suspendisse finibus, risus id rhoncus semper, massa risus iaculis metus, vitae cursus nisi elit et risus
            </p>
        </div>
        <span class="bg-text">W</span>
        <div class="clearfix"> </div>
    </div>
</div>
<!--//welcome-->
<!--services-->
<div class="services">
    <div class="container">
        <div class="col-md-5 services-right">
            <h4 class="title wow fadeInRight animated" data-wow-delay=".5s">Services</h4>
            <h3 class="title1 wow fadeInRight animated" data-wow-delay=".5s">MAURIS DUI <br>INTEAR <span>RDUM</span>IPSUM</h3>
            <p class="data wow fadeInRight animated" data-wow-delay=".5s">Porttitor vestibulum eu nisl. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus Cum sociis natoque penatibus et magnis dis parturient montes</p>
        </div>
        <div class="col-md-7 services-left">
            <div class="col-md-4 services-grid wow fadeInDown animated" data-wow-delay=".5s">
                <span class="glyphicon glyphicon-heart effect-1" aria-hidden="true"></span>
                <h5>Cum soluta nobis</h5>
                <p>Itaque earum rerum hic a sapiente delectus</p>
            </div>
            <div class="col-md-4 services-grid wow fadeInDown animated" data-wow-delay=".5s">
                <span class="glyphicon glyphicon-list-alt effect-1" aria-hidden="true"></span>
                <h5>soluta vum nobis</h5>
                <p>Itaque earum rerum hic a sapiente delectus</p>
            </div>
            <div class="col-md-4 services-grid wow fadeInDown animated" data-wow-delay=".5s">
                <span class="glyphicon glyphicon-leaf effect-1" aria-hidden="true"></span>
                <h5>Nobis cum soluta</h5>
                <p>Itaque earum rerum hic a sapiente delectus</p>
            </div>
            <div class="col-md-4 services-grid bottom-grids wow fadeInUp animated" data-wow-delay=".5s">
                <span class="glyphicon glyphicon-globe effect-1" aria-hidden="true"></span>
                <h5>Cum soluta nobis</h5>
                <p>Itaque earum rerum hic a sapiente delectus</p>
            </div>
            <div class="col-md-4 services-grid bottom-grids wow fadeInUp animated" data-wow-delay=".5s">
                <span class="glyphicon glyphicon-cutlery effect-1" aria-hidden="true"></span>
                <h5>soluta vum nobis</h5>
                <p>Itaque earum rerum hic a sapiente delectus</p>
            </div>
            <div class="col-md-4 services-grid bottom-grids wow fadeInUp animated" data-wow-delay=".5s">
                <span class="glyphicon glyphicon-th-large effect-1" aria-hidden="true"></span>
                <h5>Nobis cum soluta</h5>
                <p>Itaque earum rerum hic a sapiente delectus</p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <span class="bg-text bg-right">S</span>
        <div class="clearfix"> </div>
    </div>
</div>
<!--//services-->
<!--popular-->
<div class="popular">
    <div class="container">
        <div class="col-md-7 popular-left">
            <h4 class="title wow fadeInLeft animated" data-wow-delay=".5s">Popular Flavors </h4>
            <h3 class="title1 wow fadeInLeft animated" data-wow-delay=".5s">URISMA UID <br>INTEAR <span>MDUR</span>SUMIP</h3>
            <p class="data wow fadeInLeft animated" data-wow-delay=".5s">Vestibulum porttitor eu nisl. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus Cum sociis natoque penatibus et magnis dis parturient montes</p>
        </div>
        <div class="col-md-5 popular-right wow fadeInRight animated" data-wow-delay=".5s">
            <div class="col-md-6 popular-grids">
                <img src="~/images/img2.jpg" class="img-responsive zoom-img" alt="">
            </div>
            <div class="col-md-6 popular-grids">
                <img src="~/images/img3.jpg" class="img-responsive zoom-img" alt="">
            </div>
            <div class="col-md-6 popular-grids">
                <img src="~/images/img4.jpg" class="img-responsive zoom-img" alt="">
            </div>
            <div class="col-md-6 popular-grids">
                <img src="~/images/img5.jpg" class="img-responsive zoom-img" alt="">
            </div>
            <div class="clearfix"> </div>
        </div>
        <span class="bg-text">P</span>
        <div class="clearfix"> </div>
    </div>
</div>
