
@{
    ViewBag.Title = "Team";
}


<!--team-->
<div class="team">
    <div class="container">
        <h4 class="title">Our Team</h4>
        <h3 class="title1">THE BEST COFFEE <span> MAKE</span>RS </h3>
        <div class="team-info">
            <div class="col-md-3 team-grids wow zoomIn animated" data-wow-delay=".5s">
                <img class="img-responsive" src="~/images/t1.jpg" alt="">
                <div class="captn">
                    <h4>Tincidun</h4>
                    <div class="team-icons">
                        <ul>
                            <li><a href="#"> </a></li>
                            <li><a href="#" class="fb"> </a></li>
                            <li><a href="#" class="in"> </a></li>
                        </ul>
                    </div>
                </div>
                <p>Aenean pulvinar ac enimet posuere tincidunt velit tincidunt Utin  Porttitor vestibulum eu </p>
            </div>
            <div class="col-md-3 team-grids wow zoomIn animated" data-wow-delay=".5s">
                <img class="img-responsive" src="~/images/t2.jpg" alt="">
                <div class="captn">
                    <h4>Velit uti</h4>
                    <div class="team-icons">
                        <ul>
                            <li><a href="#"> </a></li>
                            <li><a href="#" class="fb"> </a></li>
                            <li><a href="#" class="in"> </a></li>
                        </ul>
                    </div>
                </div>
                <p>Pulvinar ac aenean enimet posuere tincidunt velit tincidunt Utin  Porttitor vestibulum eu </p>
            </div>
            <div class="col-md-3 team-grids wow zoomIn animated" data-wow-delay=".5s">
                <img class="img-responsive" src="~/images/t3.jpg" alt="">
                <div class="captn">
                    <h4>Posuere</h4>
                    <div class="team-icons">
                        <ul>
                            <li><a href="#"> </a></li>
                            <li><a href="#" class="fb"> </a></li>
                            <li><a href="#" class="in"> </a></li>
                        </ul>
                    </div>
                </div>
                <p>Tincidunt aenean pulvinar acenimet posuere velit tincidunt Utin  Porttitor vestibulum eu </p>
            </div>
            <div class="col-md-3 team-grids wow zoomIn animated" data-wow-delay=".5s">
                <img class="img-responsive" src="~/images/t4.jpg" alt="">
                <div class="captn">
                    <h4>Augc sfe</h4>
                    <div class="team-icons">
                        <ul>
                            <li><a href="#"> </a></li>
                            <li><a href="#" class="fb"> </a></li>
                            <li><a href="#" class="in"> </a></li>
                        </ul>
                    </div>
                </div>
                <p>Aenean pulvinar ac enimet posuere tincidunt velit tincidunt Utin  Porttitor vestibulum eu </p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <span class="bg-text">T</span>
    </div>
</div>
<!--//team-->
<!--skill-->
<div class="skill">
    <div class="container">
        <h4 class="title wow fadeInDown animated" data-wow-delay=".5s">Skills</h4>
        <h3 class="title1 wow fadeInDown animated" data-wow-delay=".5s">LOREMIPSUM VELIT <span>PORT</span>TITOR </h3>
        <div class="skill-info">
            <ul>
                <li class="wow fadeInLeftBig animated" data-wow-delay=".5s"><div class="demo demo-1" data-percent="65"></div><p>Managers</p></li>
                <li class="wow fadeInRightBig animated" data-wow-delay=".5s"><div class="demo demo-2" data-percent="80"></div><p>Products</p> </li>
                <li class="wow fadeInLeftBig animated" data-wow-delay=".5s"><div class="demo demo-3" data-percent="85"></div><p>Waiters</p> </li>
                <li class="wow fadeInRightBig animated" data-wow-delay=".5s"><div class="demo demo-4" data-percent="72"></div><p>Specialists</p> </li>
            </ul>
            <script>
					$('.demo-1').percentcircle();
						$('.demo-2').percentcircle({
						animate : true,
						fillColor: '#e94e02'
					});
						$('.demo-3').percentcircle({
						animate : true,
						fillColor: '#F2B33F'
					});
						$('.demo-4').percentcircle({
						animate : true,
						fillColor: '#79302a'
					});
            </script>
        </div>
        <span class="bg-text">S</span>
    </div>
</div>
<!--//skill-->
