
@{
    ViewBag.Title = "Testimonial";
}


<!--testimonial-->
<div class="team testimonial">
    <div class="container">
        <span class="bg-text">T</span>
        <h4 class="title wow fadeInDown animated" data-wow-delay=".5s">Testimonial</h4>
        <h3 class="title1 wow fadeInUp animated" data-wow-delay=".5s">WHAT PEOPLE SAY <span>ABOU</span>T US </h3>
        <div class="testi-info">
            <div class="testi-grids wow fadeInDown animated" data-wow-delay=".5s">
                <div class="testi-left">
                    <img src="~/images/t5.jpg" alt="" />
                </div>
                <div class="testi-right">
                    <p><span>"</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident sunt in . <span>"</span></p>
                    <h4>Eiusmod</h4>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="testi-grids wow fadeInDown animated" data-wow-delay=".5s">
                <div class="testi-left">
                    <img src="~/images/t6.jpg" alt="" />
                </div>
                <div class="testi-right">
                    <p><span>"</span>Consectetur adipiscing elit Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet Excepteur sint occaecat cupidatat non proident sunt in . <span>"</span></p>
                    <h4>Sam Kromsti</h4>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="testi-grids wow fadeInDown animated" data-wow-delay=".5s">
                <div class="testi-left">
                    <img src="~/images/t7.jpg" alt="" />
                </div>
                <div class="testi-right">
                    <p><span>"</span> Dolor lorem ipsum sit amet, consectetur adipiscing elit Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident sunt in . <span>"</span></p>
                    <h4>Caroline sit</h4>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="testi-grids wow fadeInDown animated" data-wow-delay=".5s">
                <div class="testi-left">
                    <img src="~/images/t8.jpg" alt="" />
                </div>
                <div class="testi-right">
                    <p><span>"</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident sunt in . <span>"</span></p>
                    <h4>Anderson</h4>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<!--//testimonial-->
