@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="container">
        <h1>Wel Come to the Dashboard </h1>






        <a href='@Url.Action("ViewEmployee","Employee")' class="col-md-12 btn btn-warning">Employee Area </a>

        <a href='@Url.Action("ViewPaymentDetails","Salary")' class="col-md-12 btn btn-warning">Salary Area </a>


        <a href='@Url.Action("Index","Home")'>Back to Main Site </a>

    </div>
