@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <h1>Please Type the Correct Id and Password </h1>








    <a href='@Url.Action("Index","Home")'>Back to Main Site </a>

</div>


